
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.contact-info p {
  margin: 5px 0;
  color: #666;
}


.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left, .right {
  width: 30%;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.center {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}


.view-details {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-details:hover {
  background-color: #0056b3;
}
